.footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 70px 0px 70px 40px;
  background: #6036ef;
  color: #fff;
  flex-shrink: 0;
  cursor: pointer;
}

.footer1 {
  display: flex;
  gap: 180px;
}

.footerServices,
.footerAcct,
.footerDestination {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footerImgs {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.footerImg {
  background-color: #fff;
  padding: 7px;
  width: 30px;
}

.footer1 a {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 121.739% */
}

.footer h5 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer p {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 130% */
}
